  <ion-modal-view>
    <ion-header-bar class="bar-light">
      <h1 class="title" style="color:#2E8B57">Add Destinations</h1>
      <button class="button button-clear button-balanced ion-close-round" ng-click="closeModal()" style="font-weight:normal;"></button>
    </ion-header-bar>
    <ion-content ng-controller="gMapsAutoFillCtrl">
        <form ng-controller="timeLineCtrl">
          <div class="list" >
            <label class="item item-input">
              <input type="text" placeholder="Name of event" ng-model="event.title">
            </label>
            <!-- <label class="item item-input">
              <input type="txt" placeholder="Last Name">
            </label> -->
            <label class="item item-input">
                <input type="text" placeholder="Address of event" google-autocomplete-suggestion location="data.location" country-code="{{countryCode}}" on-selection="onAddressSelection(location)" ng-model="data.location.formatted_address" readonly required>
            </label>
              <div class="item" ion-datetime-picker date ng-model="startDate">Start Date: {{startDate|date: "MM/dd/yyyy"}}</div>


                  <div class="item" ion-datetime-picker date ng-model="endDate">End Date: {{endDate|date: "MM/dd/yyyy"}}</div>
              
            <!--<label class="item item-input" ion-datetime-picker am-pm ng-model="datetimeValue">
              <input type="text" placeholder="Start time">{{datetimeValue|date: "MM/dd/yyyy H:mm a"}}</input>
            </label>
            <label class="item item-input" ion-datetime-picker am-pm ng-model="datetimeValue">
              <input type="text" placeholder="End time">{{datetimeValue|date: "MM/dd/yyyy H:mm a"}}</input>
            </label>-->
          </div>
          <div class="bar bar-balanced bar-footer">
                <button class="button button-full button-balanced" ng-click="addDestination(); closeModal()" style="font-size:20px;bottom:10px;">Save</button>
          </div>
        </form>
    </ion-content>
  </ion-modal-view>