  <ion-modal-view>
    <ion-header-bar class="bar-light" ng-switch on="currentDest">
      <h1 ng-switch-when="null" class="title" style="color:#2E8B57">Add Destinations</h1>
      <h1 ng-switch-default class="title" style="color:#2E8B57">Add Plans</h1>
      <button class="button button-clear button-balanced ion-close-round" ng-click="closeModal()" style="font-weight:normal;"></button>
    </ion-header-bar>
    <ion-content ng-controller="gMapsAutoFillCtrl" ng-switch on="currentDest">
        <form ng-controller="timeLineCtrl" ng-switch-when="null">
            <!--<button class="button button-calm" ng-click="newDestination()">New Destination +</button>-->
          <div class="list">
            <!--<label class="item item-input">
              <input type="text" placeholder="Name of event" ng-model="event.title">
            </label>-->
            <!-- <label class="item item-input">
              <input type="txt" placeholder="Last Name">
            </label> -->
            <label class="item item-input">
                <input type="text" placeholder="Pick a destination" google-autocomplete-suggestion location="data.location" country-code="{{countryCode}}" on-selection="onAddressSelection(location)" ng-model="data.location.formatted_address" readonly required>
            </label>
              
              <!--<input type="text" placeholder="Start Date" ion-datetime-picker date ng-model="startDate" ng-change="addNewDestStartDate(destination)">Start Date: {{startDate|date: "MM/dd/yyyy"}}</input>


                  <input type="text" placeholder="End Date" ion-datetime-picker date ng-model="endDate" ng-change="addNewDestEndDate(destination)">End Date: {{endDate|date: "MM/dd/yyyy"}}</input>-->
              <div class="item" ion-datetime-picker date ng-model="newDest.startDate">Start Date: {{newDest.startDate|date: "MM/dd/yyyy"}}</div>


                  <div class="item" ion-datetime-picker date ng-model="newDest.endDate">End Date: {{newDest.endDate|date: "MM/dd/yyyy"}}</div>
              
            <!--<label class="item item-input" ion-datetime-picker am-pm ng-model="datetimeValue">
              <input type="text" placeholder="Start time">{{datetimeValue|date: "MM/dd/yyyy H:mm a"}}</input>
            </label>
            <label class="item item-input" ion-datetime-picker am-pm ng-model="datetimeValue">
              <input type="text" placeholder="End time">{{datetimeValue|date: "MM/dd/yyyy H:mm a"}}</input>
            </label>-->
          </div>
          <div class="bar bar-balanced bar-footer">
                <button class="button button-full button-balanced" ng-click="addDestLocation(); addDates(); saveNewDests(); closeModal()" style="font-size:20px;bottom:10px;">Save</button>
          </div>
        </form>
        
        <form ng-controller="timeLineCtrl" ng-switch-default>
          <div class="list" ng-controller="RadioCtrl">
              <label class="item item-input item-select">
                <div class="input-label">
                  What type of plan?
                </div>
                <select ng-model="selectedType">
                  <option disabled selected value> -- select an option -- </option>
                  <option value="transportation">Transportation</option>
                  <option value="stay">Place to stay</option>
                  <option value="event">Event</option>
                </select>
              </label>
              
              <div ng-if="selectedType == transport">

    <h4 class="padding">What type of transportation?</h4>      
    <div class="button-bar padding">
      <a grouped-radio="'flight'" ng-model="data.transportationType">Flight</a>
      <a grouped-radio="'uber'" ng-model="data.transportationType">Uber</a>
       <a grouped-radio="'car'" ng-model="data.transportationType">Car</a>     
    </div>    
    <br>    <br>
    {{data}}
            </div>  
            <label class="item item-input">
              <input type="text" placeholder="Name of event" ng-model="newPlan.title">
            </label>
            <!-- <label class="item item-input">
              <input type="txt" placeholder="Last Name">
            </label> -->
            <label class="item item-input">
                <input type="text" placeholder="Address of event" google-autocomplete-suggestion location="data.location" country-code="{{countryCode}}" on-selection="onAddressSelection(location)" ng-model="data.location.formatted_address" readonly required>
            </label>
              <div class="item" ion-datetime-picker date ng-model="newPlan.startDate">Start Date: {{startDate|date: "MM/dd/yyyy"}}</div>


                  <div class="item" ion-datetime-picker date ng-model="newPlan.endDate">End Date: {{endDate|date: "MM/dd/yyyy"}}</div>
              
            <!--<label class="item item-input" ion-datetime-picker am-pm ng-model="datetimeValue">
              <input type="text" placeholder="Start time">{{datetimeValue|date: "MM/dd/yyyy H:mm a"}}</input>
            </label>
            <label class="item item-input" ion-datetime-picker am-pm ng-model="datetimeValue">
              <input type="text" placeholder="End time">{{datetimeValue|date: "MM/dd/yyyy H:mm a"}}</input>
            </label>-->
          </div>
          <div class="bar bar-balanced bar-footer">
                <button class="button button-full button-balanced" ng-click="addPlanInfo(); saveNewPlans(); closeModal()" style="font-size:20px;bottom:10px;">Save</button>
          </div>
        </form>
        <div class="bar bar-balanced bar-footer">
                <button class="button button-full button-balanced" ng-click="addPlanInfo(); saveNewPlans(); closeModal()" style="font-size:20px;bottom:10px;">Save</button>
          </div>
    </ion-content>
  </ion-modal-view>