<ion-content style="z-index:-1;">
    <div class="padding" overflow-scroll="false" ng-controller="timeLineCtrl">  <!-- ng-controller="AppCtrl" -->

              <div class="container-fluid">
          <!--<h4 class="text-center"  ng-click="goToTripView()">{{currentDest.location.address}}</h4>-->
       <!-- <div class="text-center">
              <button ng-click="defaultAlign()" class="button button-positive button-small">Alternate Sides</button>
              <button ng-click="leftAlign()" class="button button-positive button-small">Left Side</button>
              <button ng-click="rightAlign()" class="button button-positive button-small">Right Side</button>
              <button ng-click="rePerformAnimation()" class="button button-positive button-small">Animate</button> 
        </div> -->
          <br/>
          <timeline side="{{side}}">
            <!-- can also hard-code to side="left" or side="right" -->
            <timeline-event ng-repeat="plan in currentDest.plans" side="left"><!--ng-repeat="event in cogo.trip.destinations[0].events"-->
              <!-- uses angular-scroll-animate to give it some pop -->
              <timeline-badge class="tm tm-scroll {{plan.badgeClass ? plan.badgeClass : 'bg-dark' }} timeline-hidden"
                              when-visible="animateElementIn" when-not-visible="animateElementOut">
                <i class="glyphicon {{plan.badgeIconClass}}"></i>
              </timeline-badge>

              <!-- uses angular-scroll-animate to give it some pop -->
              <timeline-panel class="{{plan.badgeClass}} tm timeline-hidden"
                              when-visible="animateElementIn" when-not-visible="animateElementOut">
                <timeline-heading>
                  <h6 style="margin-left:60px">{{event.title}}</h6>

                  <p ng-if="plan.when">
                    <small class="text-muted"><i class="glyphicon glyphicon-time"></i>{{plan.startDateDisplay}} - {{plan.endDateDisplay}}</small>
                  </p>
                  <p ng-if="plan.titleContentHtml" ng-bind-html="event.titleContentHtml">
                  </p>
                </timeline-heading>
                <p ng-bind-html="event.contentHtml"></p>
                <timeline-footer ng-if="event.footerContentHtml">
                  <span ng-bind-html="event.footerContentHtml"></span>
                </timeline-footer>
              </timeline-panel>

              <timeline-invert class="{{plan.badgeClass}} tm timeline-hidden"
                              when-visible="animateElementIn" when-not-visible="animateElementOut">
                <timeline-heading>
                  <h6 style="margin-right:60px">{{plan.title}}</h6>

                  <p ng-if="plan.location">
                    <small class="text-muted"><i class="glyphicon glyphicon-time"></i>{{plan.location.address}}</small>
                  </p>
                  <p ng-if="plan.titleContentHtml" ng-bind-html="plan.titleContentHtml">
                  </p>
                </timeline-heading>
                <p ng-bind-html="plan.contentHtml"></p>
                <timeline-footer ng-if="plan.footerContentHtml">
                  <span ng-bind-html="plan.footerContentHtml"></span>
                </timeline-footer>
              </timeline-invert>    

            </timeline-event>
          </timeline>
        </div>
    </div>
</ion-content>