<ion-modal-view>
    <ion-header-bar class="bar-stable item-input-inset">
    <label class="item-input-wrapper">
      <i class="icon ion-ios-search placeholder-icon"></i>
      <input type="search" placeholder="Search" ng-model="searchText">
    </label>
    <button class="button button-clear button-positive ion-chevron-down" ng-click="closeModal()" style="color:#2E8B57;font-weight:normal;"></button>
  </ion-header-bar>
  <ion-content ng-controller="FriendsCtrl">
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right"
                ng-repeat="user in users | filter:searchText"
                ng-if="user.$id != currentUser.$id"
                type="item-text-wrap"
                href="#/tab/contacts/{{user.$id}}">
        <img ng-src="{{user.face}}">
        <h2>{{user.name}}</h2>
        <p ng-if="!user.online" am-time-ago="user.lastOnline"></p>
        <p ng-if="user.online">Online</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(user.id)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-modal-view>