<ion-content style="z-index:-1;">
    <div class="padding" ng-controller="fullTimelineCtrl">
        <h3 class="text-center">{{currentTrip.title}}</h3>
        <button class="button button-outline button-balanced button-small {{button.icon}}" style="float:right; font-size:25px; top:-37px; right:0px;" ng-click="toggleView()"></button>
        <div ng-include="timelineView.url"></div>
        </div>
        <button ng-controller="addEventCtrl" ng-click="openModal()" class="button button-balanced button-outline button-small ion-plus-round" style="float:left; font-size:18px; top:-43px;left:10px;"></button>
</ion-content>