<ion-content id="map" style="top:44px;height:480px;border-color:#2E8B57;border-style:inset;" data-tap-disabled="true" ng-controller="MapCtrl" style="z-index:-1;">
    <!--<div id="map" data-tap-disabled="true" ng-controller="MapCtrl"></div>-->
</ion-content>