<style>
    .fileUpload {
        position: relative;
    }

    .fileUpload input.upload {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        padding: 0;
        cursor: pointer;
        opacity: 0;
    }

    .fileUpload .icon {
        font-size: 24px;
        color: #cccccc;
        border: 1px solid #cccccc;
        border-radius: 50%;
        padding: 8px 13px;

        position: relative;
        top: 12px;
    }
</style>

<ion-content>
    <div class="row">
            <div class="col">
                <div class="fileUpload">
                    <i class="icon ion-camera"></i>
                    <input class="upload" type="file" accept="image/*" capture="camera">
                </div>
            </div>
            <div class="col-80">
                <input type="text"
                       ng-model="newTrip.title"
                       placeholder="Name this trip"
                       style="height: 50px;width:100%;">
            </div>
        </div>

        <ion-list>
          <ion-checkbox
            style="padding-top:0;padding-bottom:0;padding-left:0;"
            class="item-checkbox-right"
            ng-model="contact.checked"
            ng-checked="contact.checked"
            ng-repeat="contact in contacts"
            ng-show="contact.$id != currentUser.$id"
            ng-click="toggleSelection(contact); showme=true">
              
              <ion-toggle ng-show="contact.checked" style="border:0; padding:10;z-index:2" toggle-class="toggle-calm"></ion-toggle>

            <ion-item class="item-avatar">
                <img ng-src="{{contact.face}}">
                <h2>{{contact.name}}</h2>
            </ion-item>
              
          </ion-checkbox>
            
        </ion-list>
        {{obj}}
        <button class="button button-clear button-balanced" ng-show="selectedMember.length > 2" ng-click="addDestLocation(); addDates(); createNewGroup();">Create Trip
        </button>
        <div>
            <button class="button button-clear button-balanced ion-chevron-left icon-left" ng-click="prevTripStep()"></button>
        </div>
</ion-content>