<ion-content ng-controller="gMapsAutoFillCtrl">
    <form>
            <div class="list">
                <!--<label class="item item-input">
                    <input type="text" placeholder="Name your trip" ng-model="newTrip.title">
                </label>-->
                <!-- <label class="item item-input">
                  <input type="txt" placeholder="Last Name">
                </label> -->
                <label class="item item-input">
                    <input type="text" placeholder="Pick a destination (you can pick more later)" google-autocomplete-suggestion location="data.location" country-code="{{countryCode}}" on-selection="onAddressSelection(location)" ng-model="lastGMapLookupLocationResult.formatted_address" readonly required>
                </label>
               <!-- <label class="item item-input padding" ng-model="lastSelectedStartDate">
                  <input type="date" placeholder="Start date"></input>
                </label>
                <label class="item item-input padding" ng-model="lastSelectedEndDate">
                  <input type="date" placeholder="End date"></input>
                </label> -->
                

                  <div class="item" ion-datetime-picker date ng-model="newTrip.destinations[0].startDate">Start Date: {{newTrip.destinations[0].startDate|date: "MM/dd/yyyy"}}</div>


                  <div class="item" ion-datetime-picker date ng-model="newTrip.destinations[0].endDate">End Date: {{newTrip.destinations[0].endDate|date: "MM/dd/yyyy"}}</div>

            </div>
        </form>
        <div>
            <button class="button button-clear button-balanced ion-chevron-right icon-right" ng-click="nextTripStep()" style="float:right;">Invite Friends</button>
        </div>
        
          <div class="bar bar-balanced bar-footer">
                <button type="submit" class="button button-full button-balanced" ng-click="addDestLocation(); addDates(); addTrip(); closeModal();" style="font-size:20px;bottom:10px;">Save</button>
          </div>
</ion-content>