	<ion-content class="padding">
	  <button class="button button-full button-assertive" style="font-size:20px;bottom:10px;" ng-click="deleteThisTrip()">Delete Trip</button>
        <button class="button button-full button-energized" style="font-size:20px;bottom:10px;" ng-click="leaveeThisTrip()">Leave Trip</button>
	</ion-content>