<ion-view view-title="My Trips" show-tabs>

  <ion-header-bar class="bar-stable item-input-inset">
    <label class="item-input-wrapper">
      <i class="icon ion-ios-search placeholder-icon"></i>
      <input type="search" placeholder="Search" ng-model="searchText">
    </label>
    <button class="button button-balanced button-clear button-icon icon ion-ios-compose-outline" ng-click="new_group()">
    </button>
  </ion-header-bar>
  <div class="text-center padding" style="inline-block">
        <div class="cover-image" style="margin:0 auto;width:90px;height:90px;background-image:url({{currentUser.face}});"></div>
        <h3>{{currentUser.name}}</h3>
        <p><button class="button" style="border:none;background:none;bottom:15px;" ng-click="friendsList()">50 Friends</button> <button class="button button-balanced button-clear button-icon ion-ios-gear" style="bottom:15px;font-size:25px;" ng-click="userSettings()">
    </button></p>
        
        <div style="height: 20px"></div>
    </div>
  <ion-content class="groups" style="margin-top:170px;">
    <ion-list type="list-inset"
              class="text-center"
              ng-repeat="group in groups | filter:searchText"
              style="width:50%;float:left;padding:0;"
              >
      <ion-item href="#/tab/groups/{{group.$id}}"> <!--href="#/tab/groups/{{group.$id}}"-->
        <div class="image-cover" style="position:initial;top:0;left:0;" ng-init="thumbs = (group.face | split)" >
           <div ng-repeat="thumb in thumbs"
                ng-class="{'singal-thumb':thumbs.length==1,'thumb-big-left': $index==0, 'thumb-small-top': $index==1, 'thumb-small-bottom': $index==2}"
                style="background-image:url('{{thumb}}');">
           </div>
         </div>
         <div style="height: 20px"></div>

        <h2 style="color:#2E8B57;font-weight:bold;">{{group.tripTitle}}</h2>
        <p am-time-ago="group.lastUpdate"></p>
      </ion-item>
      <ion-item class="item-divider">
        <p><b style="color:#2E8B57;float:left;">Members: </b>{{group.members}}</p>
      </ion-item>
    </ion-list>
  </ion-content>

</ion-view>
