<ion-view view-title="Chats" show-tabs>
  <ion-header-bar class="bar-stable item-input-inset">
    <label class="item-input-wrapper">
      <i class="icon ion-ios-search placeholder-icon"></i>
      <input type="search" placeholder="Search" ng-model="searchText">
    </label>
    <button class="button button-balanced button-clear button-icon icon ion-ios-compose-outline" ng-click="newChat()">
    </button>
  </ion-header-bar>
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar" ng-repeat="chat in activities | filter:searchText" type="item-text-wrap" href="#/tab/chats/{{chat.$id}}">
        <div class="thumb-cover" ng-init="thumbs = (chat.face | split)" >
          <div ng-repeat="thumb in thumbs"
               ng-class="{'singal-thumb':thumbs.length==1,'thumb-big-left': $index==0, 'thumb-small-top': $index==1, 'thumb-small-bottom': $index==2}"
               style="background-image:url('{{thumb}}');">
          </div>
        </div>
        <h2 style="color:#2E8B57;">{{chat.name}}</h2>
        <p>{{chat.lastText}}</p>

        <span am-time-ago="chat.lastUpdate" class="item-note chat-list"></span>

        <ion-option-button class="button-assertive" ng-click="activities.$remove(chat)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
