<ion-content style="z-index:-1" ng-controller="fullTimelineCtrl">
    
    <div>
        <button ng-controller="addPlanCtrl" ng-click="openModal()" class="button button-balanced button-outline button-small ion-plus-round" style="float:left; font-size:18px;bottom:4px;left:10px;"></button>
        <button class="button button-outline button-balanced button-small {{button.icon}}" style="float:right; font-size:25px; bottom:4px; right:10px;" ng-click="toggleView()"></button>
        <h3 ng-show="currentDest == null" class="text-center">{{template.name}}</h3>
        <h4 ng-hide="currentDest == null" class="text-center"  ng-click="goToTripView()">{{currentDest.location.address}}</h4>
    </div>
            
            <!--<button ng-controller="addPlanCtrl" ng-click="openModal()" class="button button-balanced button-outline button-small ion-plus-round" style="float:left; font-size:18px;left:10px;"></button>-->
    
    <div ng-include="timelineTemplate.url"></div>
        
</ion-content>