<ion-view show-tabs>
    <ion-nav-bar></ion-nav-bar>
    <ion-side-menus enable-menu-with-back-views="true" ng-controller="TripMenuCtrl">
		<ion-side-menu-content>
            <ion-nav-bar class="bar-balanced">
            <ion-nav-buttons side="left">
				<a menu-toggle="left" 
				class="button button-icon button-clear ion-navicon" style="z-index:2;">
				</a>
			</ion-nav-buttons>
            <ion-nav-title>{{currentTrip.title}}</ion-nav-title>
			<ion-nav-buttons side="right">
				<a menu-toggle="right" class="button button-icon button-clear ion-ios-chatboxes-outline"> <!--ng-href="#/tab/{{linkType}}/{{activity.$id}}/detail"-->
				</a>
			</ion-nav-buttons>
            </ion-nav-bar>
            <div ng-include="template.url"></div>
		  <!--<ion-nav-view></ion-nav-view>-->
		</ion-side-menu-content>
		<ion-side-menu side="left">
		  <ion-header-bar class="bar-stable">
			<h1 class="title" style="color:#2E8B57">Menu</h1>
		  </ion-header-bar>
			<ion-content>
				<ion-list>
					<ion-item menu-close ng-click="planner()">Itinerary</ion-item>
					<ion-item menu-close ng-click="ideas()">Ideas</ion-item>
					<ion-item menu-close ng-click="search()">Search</ion-item>
					<ion-item menu-close ng-click="settings()">Settings</ion-item>
				</ion-list>
                <div class="bar bar-balanced bar-footer">
                  <button class="button button-full button-balanced" style="font-size:20px;bottom:10px;">Publish Trip</button>
                </div>
			</ion-content>
		</ion-side-menu>
		<ion-side-menu width="312" side="right">
		  <ion-header-bar class="bar-stable">
			<h1 class="title" style="color:#2E8B57">Messenger</h1>
		  </ion-header-bar>
			<ion-content>
				<div ng-include="messenger.url"></div>
			</ion-content>
		</ion-side-menu> <!--menu-toggle="right"-->
</ion-side-menus>  
</ion-view>


   




