<ion-modal-view>
    <ion-header-bar class="bar-balanced">
        <h1 class="title">Settings</h1>
        <button class="button button-clear button-positive ion-chevron-down text-right" ng-click="closeModal()" style="color:white;font-weight:normal;"></button>
    </ion-header-bar>
    <ion-content scroll="false" ng-controller="AccountCtrl">
        <div style="height: 50px"></div>
        <div class="text-center">
            <div class="cover-image" style="margin:0 auto;width:90px;height:90px;background-image:url({{currentUser.face}});"></div>
            <h3>{{currentUser.name}}</h3>
            <p>{{currentUser.provider}}</p>
            <div style="height: 20px"></div>
        </div>
        <ion-list>
        <ion-item class="item-divider"></ion-item>
        <ion-item class="item-icon-right balanced">Report a Problem<i class="icon ion-chevron-right icon-accessory"></i></ion-item>
        <ion-item class="item-icon-right">Help<i class="icon ion-chevron-right icon-accessory"></i></ion-item>
        <ion-item class="item-icon-right">Privacy & Terms<i class="icon ion-chevron-right icon-accessory"></i></ion-item>
        <ion-item class="item-divider"></ion-item>
        <ion-item class="assertive" ng-click="signOut()">Log Out</ion-item>
        </ion-list>
    </ion-content>
</ion-modal-view>