<ion-content style="z-index:-1;">
    <div class="padding" overflow-scroll="false" ng-controller="timeLineCtrl">  <!-- ng-controller="AppCtrl" -->
                
            <!--<h3 class="text-center">{{currentTrip.title}}</h3>-->
       
              <div class="container-fluid">
                  <br/>
          <!--<h3 class="text-center">{{currentTrip.title}}</h3>-->
       <!-- <div class="text-center">
              <button ng-click="defaultAlign()" class="button button-positive button-small">Alternate Sides</button>
              <button ng-click="leftAlign()" class="button button-positive button-small">Left Side</button>
              <button ng-click="rightAlign()" class="button button-positive button-small">Right Side</button>
              <button ng-click="rePerformAnimation()" class="button button-positive button-small">Animate</button> 
        </div> -->
          <timeline side="{{side}}">
            <!-- can also hard-code to side="left" or side="right" -->
            <timeline-event ng-repeat="destination in currentTrip.destinations" side="left"><!--ng-repeat="event in cogo.trip.destinations[0].events"-->
              <!-- uses angular-scroll-animate to give it some pop -->
              <timeline-badge class="tm tm-scroll {{destination.badgeClass ? destination.badgeClass : 'bg-dark' }} timeline-hidden"
                              when-visible="animateElementIn" when-not-visible="animateElementOut" ng-click="selectedDest.value = $index; goToDestView()">
                <i class="glyphicon {{destination.badgeIconClass}}"></i>
              </timeline-badge>

              <!-- uses angular-scroll-animate to give it some pop -->
              <timeline-panel class="{{destination.badgeClass}} tm timeline-hidden"
                              when-visible="animateElementIn" when-not-visible="animateElementOut">
                <timeline-heading>
                  <h6 style="margin-left:60px">{{event.title}}</h6>

                  <p ng-if="destination.when">
                    <small class="text-muted"><i class="glyphicon glyphicon-time"></i>{{destination.startDateDisplay}} - {{destination.endDateDisplay}}</small>
                  </p>
                  <p ng-if="destination.titleContentHtml" ng-bind-html="event.titleContentHtml">
                  </p>
                </timeline-heading>
                <p ng-bind-html="event.contentHtml"></p>
                <timeline-footer ng-if="event.footerContentHtml">
                  <span ng-bind-html="event.footerContentHtml"></span>
                </timeline-footer>
              </timeline-panel>

              <timeline-invert class="{{destination.badgeClass}} tm timeline-hidden"
                              when-visible="animateElementIn" when-not-visible="animateElementOut">
                <timeline-heading>
                  <h6 style="margin-right:60px">{{destination.title}}</h6>

                  <p ng-if="destination.location">
                    <small class="text-muted"><i class="glyphicon glyphicon-time"></i>{{destination.location.address}}</small>
                  </p>
                  <p ng-if="destination.titleContentHtml" ng-bind-html="destination.titleContentHtml">
                  </p>
                </timeline-heading>
                <p ng-bind-html="destination.contentHtml"></p>
                <timeline-footer ng-if="destination.footerContentHtml">
                  <span ng-bind-html="destination.footerContentHtml"></span>
                </timeline-footer>
              </timeline-invert>    

            </timeline-event>
          </timeline>
        </div>
    </div>
</ion-content>