<ion-modal-view>
    <ion-header-bar class="bar-stable">
        <button class="button button-clear button-positive" ng-click="closeModal()" style="color:#2E8B57;font-weight:normal;">Cancel</button>
        <h1 class="title">Forgot password</h1>
    </ion-header-bar>
    <ion-content>
      <form novalidate name="passwordForm" ng-submit="passwordForm.$valid && sendPasswordResetEmail(email)">
        <ion-list>
          <ion-item class="item-input">
              <input name="txtemail" type="email" placeholder="Email" ng-model="$parent.email"
              ng-minlength="5"
              required />
              <span class="item-note assertive" ng-messages="passwordForm.txtemail.$error" ng-if="passwordForm.$submitted">
                <span ng-message="required">* Email is required.</span>
                <span ng-message="email">This is not an email.</span>
                <span ng-message="minlength">5 characters at least.</span>
              </span>
          </ion-item>
        </ion-list>
        <div class="padding">
              <input type="submit" class="button button-block button-dark" value="Send password" />
        </div>
      </form>
    </ion-content>
</ion-modal-view>
