<ion-view hide-nav-bar="true" style="background-color:#2E8B57;">
    <ion-content class="padding text-center" scroll="false">
        <div style="height: 50px"></div>
        <img src="img/logo.svg" style="width: 70px; height: auto">
        <h2 style="color:white;">Cogo</h2>
        <p style="padding-left:40px;padding-right:40px;color:white;">Power backend and quickly develop apps with Firebase.</p>
        <div style="height: 15px"></div>
        <div style="padding-left:40px;padding-right:40px;">
          <button class="button button-block icon ion-social-facebook" style="background-color:#3b5998; color:white;" ng-click="signIn('facebook')"> Sign in with Facebook</button>
          <button class="button button-block icon ion-social-google" style="background-color:#dd4b39; color:white;" ng-click="signIn('google')"> Sign in with Google</button>
          <button class="button button-block icon ion-social-twitter" style="background-color:#00aced; color:white;" ng-click="signIn('twitter')"> Sign in with Twitter</button>
          <button class="button button-block button-clear button-stable" style="color:white;" ui-sref="sign-in-with-email">Sign in with Email</button>
        </div>
    </ion-content>
</ion-view>
