<style>
    .fileUpload {
        position: relative;
    }

    .fileUpload input.upload {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        padding: 0;
        cursor: pointer;
        opacity: 0;
    }

    .fileUpload .icon {
        font-size: 24px;
        color: #cccccc;
        border: 1px solid #cccccc;
        border-radius: 50%;
        padding: 8px 13px;

        position: relative;
        top: 12px;
    }
</style>

<ion-modal-view>
    <ion-header-bar class="bar-stable">
        <h1 class="title">New Trip</h1>
        <button class="button button-clear button-balanced" ng-click="closeModal()">Cancel</button>
    </ion-header-bar>

    <ion-content ng-controller="addTripCtrl">
        
        <div ng-include="template.url"></div>
        <!--<div class="row">
            <div class="col">
                <div class="fileUpload">
                    <i class="icon ion-camera"></i>
                    <input class="upload" type="file" accept="image/*" capture="camera">
                </div>
            </div>
            <div class="col-80">
                <input type="text"
                       ng-model="modalView.groupName"
                       placeholder="Name this trip"
                       style="height: 50px;width:100%;">
            </div>
        </div>

        <ion-list>
          <ion-checkbox
            style="padding-top:0;padding-bottom:0;padding-left:0;"
            class="item-checkbox-right"
            ng-model="contact.checked"
            ng-checked="contact.checked"
            ng-repeat="contact in contacts"
            ng-show="contact.$id != currentUser.$id"
            ng-click="toggleSelection(contact)">

            <ion-item class="item-avatar">
                <img ng-src="{{contact.face}}">
                <h2>{{contact.name}}</h2>
            </ion-item>
          </ion-checkbox>
        </ion-list>
        {{obj}}
        <button class="button button-clear button-balanced" ng-show="selectedMember.length > 2" ng-click="createNewGroup();">Create Trip
        </button>-->
    </ion-content>
</ion-modal-view>
