<ion-tabs class="tabs-icon-top tabs-color-active-balanced">

  <!-- Contacts Tab -->
  <ion-tab title="Trip Feed" icon-off="ion-ios-list-outline" icon-on="ion-ios-list">
    <ion-nav-view name="trip-feed"></ion-nav-view>
  </ion-tab>
    
  <ion-tab title="Explore" icon-off="ion-search" icon-on="ion-search">
    <ion-nav-view name="explore"></ion-nav-view>
  </ion-tab>
    
  <!-- Chats Tab -->
  <ion-tab title="Inbox" icon-off="ion-ios-email-outline" icon-on="ion-ios-email" href="#/home/inbox">
    <ion-nav-view name="inbox"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab 
  <ion-tab title="Account" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab> -->
    
  <!-- Groups Tab -->
  <ion-tab title="My Trips" icon-off="ion-ios-people-outline" icon-on="ion-ios-people" href="#/home/my-trips">
    <ion-nav-view name="my-trips"></ion-nav-view>
  </ion-tab>


</ion-tabs>