  <ion-modal-view>
     <<ion-header-bar class="bar-light">
      <h1 class="title" style="color:#2E8B57">New Trip</h1>
      <button class="button button-clear button-balanced ion-close-round" ng-click="closeModal()" style="font-weight:normal;"></button>
    </ion-header-bar>
    <ion-content ng-controller="addTripCtrl">
        
        <div ng-include="template.url"></div>
        
        <!-- <form>
            <div class="list">
                <label class="item item-input">
                    <input type="text" placeholder="Name your trip" ng-model="newTrip.title">
                </label>
                
                <label class="item item-input">
                    <input type="text" placeholder="Pick a destination (you can pick more later)" google-autocomplete-suggestion location="data.location" country-code="{{countryCode}}" on-selection="onAddressSelection(location)" ng-model="data.location.formatted_address" readonly required>
                </label>
               
                

                  <div class="item" ion-datetime-picker date ng-model="lastSelectedStartDate">{{lastSelectedStartDate|date: "MM/dd/yyyy"}}</div>


                  <div class="item" ion-datetime-picker date ng-model="lastSelectedEndDate">{{lastSelectedEndDate|date: "MM/dd/yyyy"}}</div>

            </div>
        </form>
          <div class="bar bar-balanced bar-footer">
                <button type="submit" class="button button-full button-balanced" ng-click="addDestLocation(); addDates(); addTrip(); closeModal();" style="font-size:20px;bottom:10px;">Save</button>
          </div> -->
    </ion-content>
</ion-modal-view>
<!-- <label class="item item-input">
                  <input type="txt" placeholder="Last Name">
                </label> -->

<!-- <label class="item item-input padding" ng-model="lastSelectedStartDate">
                  <input type="date" placeholder="Start date"></input>
                </label>
                <label class="item item-input padding" ng-model="lastSelectedEndDate">
                  <input type="date" placeholder="End date"></input>
                </label> -->