<ion-view view-title="Planner">
    <ion-content>
        <div ng-controller="PlannerCtrl">
            <button class="button button-balanced button-small {{button.icon}}" style="float:right; font-size:25px; top:13px; right:17px;" ng-click="toggleView()"></button>
            <div ng-include="template.url"></div>
        </div>
        <button ng-controller="addEventCtrl" ng-click="openModal()" class="button button-balanced button-small ion-plus-round" style="float:left; font-size:18px; top:12px;left:10px;"></button>
    </ion-content>
		
    <!-- 
        <ion-refresher on-refresh="doRefresh()" pulling-icon="ion-load-d" spinner="ios-small"></ion-refresher>
		  <div class="divider-title">Recent</div>
		  <ul class="timeline">
			<li>
			  <div class="timeline-thumb bg-color-blue timeline-icon">
				<i class="ion-heart"></i>
			  </div>
			  <div class="timeline-item">
				<h5>Like Title</h5>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, error.....</p>
				<div class="timeline-stats">
				  <i class="ion-heart"></i> 2,450
				  <span class="pos-absolute-right"><i class="ion-ios-clock"></i> 2 mins ago</span>
				</div>
			  </div>
			</li>
			<li>
			  <img src="http://lorempixel.com/people/400/400/" alt="" class="timeline-thumb">
			  <div class="timeline-item">
				<h4>Updated Profile Picture</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, error.....</p>
				<div class="timeline-stats">
				  <i class="ion-heart"></i> 2,450
				  <span class="pos-absolute-right"><i class="ion-ios-clock"></i> 2 mins ago</span>
				</div>
			  </div>
			</li>
			<li>
			  <div class="timeline-thumb bg-color-lightblue timeline-icon">
				<i class="ion-wineglass"></i>
			  </div>
			  <div class="timeline-item">
				<h4>A Wine Glass</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, error.....</p>
				<div class="timeline-stats">
				  <i class="ion-heart"></i> 2,450
				  <span class="pos-absolute-right"><i class="ion-ios-clock"></i> 2 mins ago</span>
				</div>
			  </div>
			</li>
		  </ul>
		  <div class="divider-title">October 25, 2016</div>
		  <ul class="timeline">
			<li>
			  <div class="timeline-thumb bg-color-red timeline-icon">
				<i class="ion-ios-chatbubble"></i>
			  </div>
			  <div class="timeline-item">
				<h4>New Message</h4>
				<p>Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</p>
				<div class="timeline-stats">
				  <i class="ion-heart"></i> 2,450
				  <span class="pos-absolute-right"><i class="ion-ios-clock"></i> 2 mins ago</span>
				</div>
			  </div>
			</li>
			<li>
			  <img src="http://lorempixel.com/people/400/400/" alt="" class="timeline-thumb">
			  <div class="timeline-item">
				<h4>Colors</h4>
				<p>
				  <i class="ion-ios-circle-filled icon-size-lg color-red"></i>
				  <i class="ion-ios-circle-filled icon-size-lg color-yellow"></i>
				  <i class="ion-ios-circle-filled icon-size-lg color-orange"></i>
				  <i class="ion-ios-circle-filled icon-size-lg color-blue"></i>
				  <i class="ion-ios-circle-filled icon-size-lg color-lightblue"></i>
				  <i class="ion-ios-circle-filled icon-size-lg color-bluegray"></i>
				  <i class="ion-ios-circle-filled icon-size-lg color-black"></i>
				  <i class="ion-ios-circle-filled icon-size-lg color-green"></i>
				</p>
				<div class="timeline-stats">
				  <i class="ion-heart"></i> 2,450
				  <span class="pos-absolute-right"><i class="ion-ios-clock"></i> 2 mins ago</span>
				</div>
			  </div>
			</li>
			<li>
			  <img src="http://lorempixel.com/people/400/400/" alt="" class="timeline-thumb">
			  <div class="timeline-item">
				<h4>Title</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, error.....</p>
				<div class="timeline-stats">
				  <i class="ion-heart"></i> 2,450
				  <span class="pos-absolute-right"><i class="ion-ios-clock"></i> 2 mins ago</span>
				</div>
			  </div>
			</li>
		  </ul>
    -->
		<!-- <section id="cd-timeline" class="cd-container">
          <div ng-repeat="activity in timeline">
            <div class="cd-timeline-block">
              <div class="cd-timeline-picture dark">
                <img ng-src={{activity.profilePicture}}></img>
              </div>
              
              <div class="cd-timeline-content dark">
                <h5 class="marginBottom0 marginTop0">{{activity.title}}</h5>
                <p class="marginTop5 cd-author">by {{activity.author}} on {{activity.date | date: "d MMM"}}</p>
                <p class="timelineText">{{activity.text}}</p>
              </div>
            </div>
          </div>
        </section> -->
	  </ion-content>
</ion-view>