<ion-content style="z-index:-1;">
    <div class="padding" overflow-scroll="false" ng-controller="timeLineCtrl">  <!-- ng-controller="AppCtrl" -->

              <div class="container-fluid">
          <h3 class="text-center">Timeline View</h3>
       <!-- <div class="text-center">
              <button ng-click="defaultAlign()" class="button button-positive button-small">Alternate Sides</button>
              <button ng-click="leftAlign()" class="button button-positive button-small">Left Side</button>
              <button ng-click="rightAlign()" class="button button-positive button-small">Right Side</button>
              <button ng-click="rePerformAnimation()" class="button button-positive button-small">Animate</button> 
        </div> -->
          <div class="text-center">
            <!-- <button ng-click="addEvent()" class="button button-positive button-small ion-plus-round" style="float:left; font-size:18px; bottom:35px;"></button> -->
            <!-- <button class="button button-positive button-small ion-map" style="float:right; font-size:25px; bottom:45px"></button> -->
          </div>
          <br/>
          <timeline side="{{side}}">
            <!-- can also hard-code to side="left" or side="right" -->
            <timeline-event ng-repeat="event in cogo.trip.destinations[0].events" side="left">
              <!-- uses angular-scroll-animate to give it some pop -->
              <timeline-badge class="tm tm-scroll {{event.badgeClass ? event.badgeClass : 'bg-dark' }} timeline-hidden"
                              when-visible="animateElementIn" when-not-visible="animateElementOut">
                <i class="glyphicon {{event.badgeIconClass}}"></i>
              </timeline-badge>

              <!-- uses angular-scroll-animate to give it some pop -->
              <timeline-panel class="{{event.badgeClass}} tm timeline-hidden"
                              when-visible="animateElementIn" when-not-visible="animateElementOut">
                <timeline-heading>
                  <h6 style="margin-left:60px">{{event.title}}</h6>

                  <p ng-if="event.when">
                    <small class="text-muted"><i class="glyphicon glyphicon-time"></i>{{event.when}}</small>
                  </p>
                  <p ng-if="event.titleContentHtml" ng-bind-html="event.titleContentHtml">
                  </p>
                </timeline-heading>
                <p ng-bind-html="event.contentHtml"></p>
                <timeline-footer ng-if="event.footerContentHtml">
                  <span ng-bind-html="event.footerContentHtml"></span>
                </timeline-footer>
              </timeline-panel>

              <timeline-invert class="{{event.badgeClass}} tm timeline-hidden"
                              when-visible="animateElementIn" when-not-visible="animateElementOut">
                <timeline-heading>
                  <h6 style="margin-right:60px">{{event.title}}</h6>

                  <p ng-if="event.location">
                    <small class="text-muted"><i class="glyphicon glyphicon-time"></i>{{event.location.address}}</small>
                  </p>
                  <p ng-if="event.titleContentHtml" ng-bind-html="event.titleContentHtml">
                  </p>
                </timeline-heading>
                <p ng-bind-html="event.contentHtml"></p>
                <timeline-footer ng-if="event.footerContentHtml">
                  <span ng-bind-html="event.footerContentHtml"></span>
                </timeline-footer>
              </timeline-invert>    

            </timeline-event>
          </timeline>
        </div>
    </div>
</ion-content>
