<<<<<<< HEAD

<ion-content ng-controller="TimelineTableController">
<ul class=list>
  <li class="item">
    <div class="tt-left">11/24/2016</div>
    <div class="tt-center">
      <a href="#/timelineview">
=======
<ion-view>
<ion-content>
<ul class=list ng-controller="TimelineTableController">
  <li class="item">
    <div class="tt-left">11/24/2016</div>
    <div class="tt-center">
      <a href="#">
>>>>>>> 8b5282d98a638891c5dafba3dbbeaeac75e9562b
        <img src="/img/location-icon.png"/></a></div>
    <div class="tt-right">San Francisco, CA</div>
  </li>
  <li class="item">
    <div class="tt-left">11/24/2016</div>
    <div class="tt-center">
      <a href="#">
        <img src="/img/location-icon.png"/></a></div>
    <div class="tt-right">San Francisco, CA</div>
</ul>
</ion-content>
<<<<<<< HEAD

=======
</ion-view>
>>>>>>> 8b5282d98a638891c5dafba3dbbeaeac75e9562b
