<ion-view>
	<ion-content class="padding" overflow-scroll="false">
	<div class="container-fluid">
	  <h1 class="text-center">Ionic Timeline</h1>
	<div class="text-center">
		  <button ng-click="defaultAlign()" class="button button-positive button-small">Alternate Sides</button>
	  	  <button ng-click="leftAlign()" class="button button-positive button-small">Left Side</button>
	  	  <button ng-click="rightAlign()" class="button button-positive button-small">Right Side</button>
	  	  <button ng-click="rePerformAnimation()" class="button button-positive button-small">Animate</button>
	</div>
	  <div class="text-center padding">
	  	<button ng-click="addEvent()" class="button button-positive button-small">Add New Event</button>
	  </div>
	  <br/>
	  <br/>
	  <timeline side="{{side}}">
	    <!-- can also hard-code to side="left" or side="right" -->
	    <timeline-event ng-repeat="event in cogo.trip.events" side="{{side}}">
	      <!-- uses angular-scroll-animate to give it some pop -->
	      <timeline-badge class="tm tm-scroll {{event.badgeClass ? event.badgeClass : 'bg-dark' }} timeline-hidden"
	                      when-visible="animateElementIn" when-not-visible="animateElementOut">
	        <i class="glyphicon {{event.badgeIconClass}}"></i>
	      </timeline-badge>
	
	      <!-- uses angular-scroll-animate to give it some pop -->
	      <timeline-panel class="{{event.badgeClass}} tm timeline-hidden"
	                      when-visible="animateElementIn" when-not-visible="animateElementOut">
	        <timeline-heading>
	          <h4>{{event.title}}</h4>
	
	          <p ng-if="event.when">
	            <small class="text-muted"><i class="glyphicon glyphicon-time"></i>{{event.when}}</small>
	          </p>
	          <p ng-if="event.titleContentHtml" ng-bind-html="event.titleContentHtml">
	          </p>
	        </timeline-heading>
	        <p ng-bind-html="event.contentHtml"></p>
	        <timeline-footer ng-if="event.footerContentHtml">
	          <span ng-bind-html="event.footerContentHtml"></span>
	        </timeline-footer>
	      </timeline-panel>
	    </timeline-event>
	  </timeline>
	</div>
	</ion-content>

</ion-view>


