<ion-side-menus>
		<ion-side-menu-content>
		  <ion-nav-bar class="bar-balanced">
			<ion-nav-buttons side="left">
				<button menu-toggle="left" 
				class="button button-icon button-clear ion-navicon">
				</button>
			</ion-nav-buttons>
			<ion-nav-back-button></ion-nav-back-button>
			<ion-nav-buttons side="right">
				<button menu-toggle="right" 
				class="button button-icon button-clear ion-ios-chatboxes-outline">
				</button>
			</ion-nav-buttons>
		  </ion-nav-bar>
		  <ion-nav-view></ion-nav-view>
		</ion-side-menu-content>
		<ion-side-menu side="left">
		  <ion-header-bar class="bar-stable">
			<h1 class="title" style="color:#2E8B57">Menu</h1>
		  </ion-header-bar>
			<ion-content>
				<ion-list>
					<ion-item menu-close href="#/planner">Planner</ion-item>
					<ion-item menu-close href="#/ideas">Ideas</ion-item>
					<ion-item menu-close href="#/search">Search</ion-item>
					<ion-item menu-close href="#/settings">Settings</ion-item>
				</ion-list>
                <div class="bar bar-assertive bar-footer">
                  <button class="button button-full button-assertive" style="font-size:20px;bottom:10px;">Publish Trip</button>
                </div>
			</ion-content>
		</ion-side-menu>
		<ion-side-menu width="312" side="right">
		  <ion-header-bar class="bar-stable">
			<h1 class="title" style="color:#2E8B57">Messenger</h1>
		  </ion-header-bar>
			<ion-content>
				Chat with members here.
			</ion-content>
		</ion-side-menu>
</ion-side-menus>