/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
      @content;
  }
  @-moz-keyframes #{$name} {
      @content;
  }
  @-ms-keyframes #{$name} {
      @content;
  }
  @keyframes #{$name} {
      @content;
  }
}

img{max-width:100%;height:auto}

.bg-light{background:$light}
.bg-stable{background:$stable}
.bg-positive{background:$positive}
.bg-calm{background:$calm}
.bg-balanced{background:$balanced}
.bg-energized{background:$energized}
.bg-assertive{background:$assertive}
.bg-royal{background:$royal}
.bg-dark{background:$dark}



  timeline{
    .timeline{padding: 0;list-style: none;position: relative;
      &:before {top: 0;bottom: 0;position: absolute;content: " ";width: 3px;background-color: #cccccc;left: 50%;margin-left: -1.5px; }
      timeline-event{
        li {margin-bottom: 20px;position: relative; 
          /*.timeline-footer {margin-top: 10px;padding: 10px 0; 
            a {color: #fff;background-color: #acb7c0;border-radius: 0.25em;padding: 0.8em 1em;margin: 0;}
          }*/
         
         timeline-panel {float: left;border: 1px solid #d4d4d4;border-radius: 2px;padding: 12px;position: relative;box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);background:$light; 
          &:before {position: absolute;top: 35px;right: -15px;display: inline-block;border-top: 15px solid transparent;border-left: 15px solid #ccc;border-right: 0 solid #ccc;
                   border-bottom: 15px solid transparent;content: " ";
                   }
          &:after {position: absolute;top: 36px;right: -14px;display: inline-block;border-top: 14px solid transparent;border-left: 14px solid #fff;border-right: 0 solid #fff;
                   border-bottom: 14px solid transparent;content: " "; 
                   }
         }
         
         timeline-badge {box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);color: #fff;width: 50px;height: 50px;line-height: 50px;
                         font-size: 1.4em;text-align: center;position: absolute;top: 26px;left: 50%;margin-left: -25px;z-index: 100;border-top-right-radius: 50%;
                         border-top-left-radius: 50%;border-bottom-right-radius: 50%;border-bottom-left-radius: 50%;//background-color: #999999;
                         &.bounce-in {animation: cd-bounce-1 0.6s;}
                         }
         
         
         &.timeline-inverted timeline-panel{float: right;
          &:before {border-left-width: 0;border-right-width: 15px;left: -15px;right: auto; }
          &:after {border-left-width: 0;border-right-width: 14px;left: -14px;right: auto;}
        }
        
        &:before,&:after {content: " ";display: table; content: " ";display: table;clear: both;}
        
        timeline-panel {width: calc(50% - 45px);width: -moz-calc(50% - 45px);width: -webkit-calc(50% - 45px);}
        }
        
        &:nth-child(odd) timeline-panel.bounce-in {animation: cd-bounce-2 0.6s;}
        &:nth-child(even) timeline-panel.bounce-in {animation: cd-bounce-2-inverse 0.6s;}
      }
      }
       
      &[side="left"]{
        //.timeline timeline-event timeline-panel.bounce-in {animation: cd-bounce-2 0.6s; }
          ul.timeline{
            &:before {left: 40px;}
            li{
              timeline-panel {width: calc(100% - 85px);width: -moz-calc(100% - 85px);width: -webkit-calc(100% - 85px); }
              timeline-badge {left: 15px;margin-left: 0;top: 36px;}
              timeline-panel {float: right; 
                &:before {border-left-width: 0;border-right-width: 15px;left: -15px;right: auto;top: 46px;}
                &:after {border-left-width: 0;border-right-width: 14px;left: -14px;right: auto;top: 47px;}
              }
            }
            timeline-event timeline-panel.bounce-in {animation: cd-bounce-2-inverse 0.6s; }
          }
        }
        &[side="right"]{
          ul.timeline{
            &:before {right: 40px;left:auto}
            li{
              timeline-panel {width: calc(100% - 85px);width: -moz-calc(100% - 85px);width: -webkit-calc(100% - 85px); }
              timeline-badge {right: 15px;margin-right: 0;top: 36px;left:auto;}
              timeline-panel {float: left; 
                &:before {border-right-width: 0;border-left-width: 15px;right: -15px;left: auto;top: 46px;}
                &:after {border-right-width: 0;border-left-width: 14px;right: -14px;left: auto;top: 47px;}
              }
            }
            timeline-event timeline-panel.bounce-in {animation: cd-bounce-2 0.6s; }
          }
        }
}
/*
  .timeline li timeline-badge.primary {
    background-color: #2e6da4 !important; }
  .timeline li timeline-badge.success {
    background-color: #3f903f !important; }
  .timeline li timeline-badge.warning {
    background-color: #f0ad4e !important; }
  .timeline li timeline-badge.danger {
    background-color: #d9534f !important; }
  .timeline li timeline-badge.info {
    background-color: #5bc0de !important; }
    */
    
 // .timeline li .timeline-title { margin-top: 0; }
 // .timeline li timeline-panel > * {   margin: 0; }
  /*

.timeline-heading .glyphicon {
  margin-right: 4px;
  vertical-align: -1px; }*/
/*

@media only screen and (min-width: 0px) {
  ul.timeline li timeline-panel {
    width: calc(50% - 45px);
    width: -moz-calc(50% - 45px);
    width: -webkit-calc(50% - 45px); } }

@media only screen and (min-width: 990px) {
  ul.timeline:before {
    left: 40px; }
  ul.timeline li timeline-panel {
    width: calc(100% - 85px);
    width: -moz-calc(100% - 85px);
    width: -webkit-calc(100% - 85px); }
  ul.timeline li timeline-badge {
    left: 15px;
    margin-left: 0;
    top: 36px; }
  ul.timeline li timeline-panel {
    float: right; }
  ul.timeline li timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
    top: 46px; }
  ul.timeline li timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
    top: 47px; } }*/
/*
img {
  vertical-align: middle; }

.img-responsive {
  display: block;
  height: auto;
  max-width: 100%; }

.img-rounded {
  border-radius: 3px; }

.img-thumbnail {
  background-color: #fff;
  border: 1px solid #ededf0;
  border-radius: 3px;
  display: inline-block;
  height: auto;
  line-height: 1.428571429;
  max-width: 100%;
  moz-transition: all 0.2s ease-in-out;
  o-transition: all 0.2s ease-in-out;
  padding: 2px;
  transition: all 0.2s ease-in-out;
  webkit-transition: all 0.2s ease-in-out; }

.img-circle {
  border-radius: 50%; }
*/
aaaa{display:none}
@include keyframes(cd-bounce-2){
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
    -moz-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    -o-transform: translateX(-100px);
    transform: translateX(-100px); }
  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    -ms-transform: translateX(20px);
    -o-transform: translateX(20px);
    transform: translateX(20px); }
  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0); }
};


@include keyframes(cd-bounce-2-inverse){
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
    -moz-transform: translateX(100px);
    -ms-transform: translateX(100px);
    -o-transform: translateX(100px);
    transform: translateX(100px); }
  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    -o-transform: translateX(-20px);
    transform: translateX(-20px); }
  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0); }
}

@include keyframes (cd-bounce-1) {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5); }
  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2); }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); } }