<ion-view>
    <ion-content>
        <div ng-show="authCtrl.error">
          <span>{{ authCtrl.error.message }}</span>
        </div>
        
        <form ng-submit="authCtrl.register()">
            <div class="input-group">
                <input type="email" class="form-control" placeholder="Email" ng-model="authCtrl.user.email">
            </div>
            <div class="input-group">
                <input type="password" class="form-control" placeholder="Password" ng-model="authCtrl.user.password">
            </div>
            <button type="submit" class="button button-balanced">Register</button>
        </form>
    </ion-content>
</ion-view>