/* Empty. Add your own CSS if you like */
.scroll {
    height: 100%;
}

#map {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
}

.item {
    display: flex;
}

.tt-left {
    display: flex;
    justify-content: flex-start;
    width: 45%;
}

.tt-center {
    display: flex;
    justify-content: center;
    width: 10%;
}

.tt-center img {
    width: 19px;
    height: 25px;
}

.tt-right {
    display: flex;
    justify-content: flex-end;
    width: 45%;
<<<<<<< HEAD
}
=======
}
>>>>>>> 8b5282d98a638891c5dafba3dbbeaeac75e9562b
