ul.timeline .timeline-badge .glyphicon {
  top: 2px; }

@media only screen and (min-width: 768px) {
  ul.timeline li .timeline-panel {
    width: calc(50% - 45px);
    width: -moz-calc(50% - 45px);
    width: -webkit-calc(50% - 45px); }
  ul.timeline li .timeline-invert {
    width: calc(50% - 45px);
    width: -moz-calc(50% - 45px);
    width: -webkit-calc(50% - 45px); } }

@media only screen and (max-width: 767px) {
  ul.timeline li .timeline-panel {
    width: calc(100% - 85px);
    width: -moz-calc(100% - 85px);
    width: -webkit-calc(100% - 2px); }
  ul.timeline li .timeline-invert {
    width: calc(100% - 85px);
    width: -moz-calc(100% - 85px);
    width: -webkit-calc(100% - 2px); } }
